# Environment variables
.env

# Python virtual environment
chikori_env/
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 